**/__pycache__/**
*.ipynb
**/.ipynb_checkpoints/**
*.npy
*.npz
**/.vscode/**
**/grasp_label*/**
**/log*/**
**/dump*/**
**/build/**
*.o
*.so
*.egg
**/*.egg-info/**
logs
dataset/tolerance

StratifiedTransformer/pre-trained
models_OLD
OLD
logs_stratified
logs_stratified_corrected
logs_stratified_new
logs_debug
experiments